:root {
    --main: #3c42c8;
    --overlay-background: #04074398;
    --overlay-image: #0407435f;
    --light: #fff;
    --light-medium: #bfbfbf;
    --txt-light: #696969;
    --grey: #e4e5ea;
    --grey-medium: #eee;
    --grey-light: #f1f1f1;
    --dark: #222;
    --dark-medium: #363636;
    --dark-light: #777;
    --max-width: 1200px;
    --titles: 1.8rem;
    --sides-between: 1rem;
    --items-between: 4rem;
    --section-top: 8rem;
    --txt-space: 1.6em;
    --space-top: 12rem;
    --trans: 150ms, background-position 200ms ease-out;
    --item-radius: 10px;


}

::selection {
    background: #ba926f;
    color: #000;
}


.sec-title {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: var(--titles);
    color: var(--dark-medium);
}

.line-title {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}


.line-title h1 {
    line-height: 45px;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.line-title .line {
    width: 100%;
    height: 14px;
    background: var(--grey);
    display: flex;
    gap: 2rem;
}

.line-title .line .l1 {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    background: var(--main);
    height: 14px;
    clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
}

.line-title .line .l2 {
    width: 100%;
    min-width: 20px;
    max-width: 80px;
    height: 14px;
    transform: skew(-24deg);
    background: var(--main);
}

section {
    padding-top: var(--section-top);
}

.lazy-load {
    opacity: 0;
    transition: opacity 0.3s;
}

.lazy-load.loaded {
    opacity: 1;
}

.news-component {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
}

.news-component .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    row-gap: 2rem;
}