/* 

============================
======== LINE TITLE ========
============================

*/


.line-title {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}


.line-title h1 {
    line-height: 45px;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
}

.line-title .line {
    width: 100%;
    height: 14px;
    background: var(--grey);
    display: flex;
    gap: 2rem;
}

.line-title .line .l1 {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    background: var(--main);
    height: 14px;
    clip-path: polygon(0 0, 100% 0, 97% 100%, 0% 100%);
}

.line-title .line .l2 {
    width: 100%;
    min-width: 20px;
    max-width: 80px;
    height: 14px;
    transform: skew(-24deg);
    background: var(--main);
}










/* 

========================
======== SLIDER ========
========================

*/

.slider::before,
.slider::after {
    content: "";
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.slider::before {
    width: 60px;
    left: 0;
    background: linear-gradient(to right, #fff, transparent);
}

.slider::after {
    right: 0;
    width: 60px;
    background: linear-gradient(to left, #fff, transparent);
}







/* 

===========================
======== NEWS CARD ========
===========================

*/

.news-component {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.news-component .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    row-gap: 2rem;
}