/* 
    NAVBAR
*/

@media screen and (max-width: 992px) {

    .responsive-menu {
        display: flex;
    }


    .logo h1 {
        font-size: 14px !important;
    }

    .logo p {
        display: none;
        font-size: 12px !important;
    }

    .nav-container {
        display: none;
    }
}

@media screen and (max-width: 552px) {

    .hero {
        height: 54vh;
    }

    .hero .hero-text {
        padding-right: 1.5rem;
        font-size: 1.5rem !important;
        line-height: 3rem !important;
        text-align: center;
    }
}