@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');



* {
    font-family: "Geologica", sans-serif;
    scrollbar-width: thin;
}

.maxWidth {
    max-width: 1200px;
}






.news .block .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    row-gap: 2rem;
}

/* NEWS DETAILS */

.page__newsDetails .newsDetails-photo {
    position: relative;
    height: 380px;
}

.page__newsDetails .newsDetails-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--item-radius);
}

.page__newsDetails .newsDetails-photo:after {
    position: absolute;
    content: "";  
    width: 100%;  
    height: 100%; 
    left: 0;
    top: 0;
    background: var(--overlay-image);
    transition: var(--trans);
    border-radius: var(--item-radius);
}

.page__newsDetails .newsDetails-utils {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.page__newsDetails .newsDetails-utils .goBack a {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: .6rem .8rem;
    font-size: 14px;
    color: var(--dark);
    font-weight: 300;
    border-radius: 8px;
}

.page__newsDetails .newsDetails-utils .goBack a:hover {
    background: var(--grey);
}

.page__newsDetails .newsDetails-utils .goBack a:active {
    scale: 0.92;
}

.page__newsDetails .newsDetails-utils .date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #f1f3f4;
    border: 1px solid var(--grey);
    padding: .3rem .5rem;
    border-radius: 8px;
    font-size: 14px;
    line-height: var(--txt-space);
    color: var(--dark);
    font-weight: 500;
}

.page__newsDetails .newsDetails-content p {
    font-weight: 400;
    color: var(--txt-light);
    font-size: 17px;
    line-height: 38px;
    text-shadow: 0 1px 5px #97474720;
}


/* SERVICES */

.page__services {
    padding: 0 1rem;
}


.page__services .subtitle {
    color: var(--txt-light);
    font-weight: 200;
    font-style: italic;
}

.page__services .items {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    grid-gap: 2rem;
    gap: 2rem;
}



.page__services .items .item {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--grey);
    padding: .8rem 1.5rem;
}

.page__services .items .item p {
    position: relative;
    z-index: 1;
    font-weight: 200;
    color: var(--dark);
    font-size: 16px;
    line-height: var(--txt-space);
}

.page__services .items .item:after {
    position: absolute;
    content: attr(data-number);
    color: #1040ff16;
    right: 2vw;
    height: 100%;
    width: 100px;
    background-color: #3c42c805;
    transform: skew(-10deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    transition: var(--trans);
}

.page__services .items .item:hover:after {
    opacity: 0;
}

/* CONTACT PAGE */

.page__contact {
    padding: 0 1rem;
}


.info-text p {
    color: var(--txt-light);
    font-weight: 200;
    font-style: italic;
}


.page__contact form {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    max-width: 400px;
    width: 100%;
}

.page__contact form .input-group {
    position: relative;
    background: var(--grey-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page__contact form .input-group input,
.page__contact form .input-group textarea {
    width: 100%;
    padding: 1.2rem 1.5rem;
    font-size: 16px;
    background: none;
    border: none;
    font-family: inherit;
    outline: none;
}

.page__contact form .input-group input:focus,
.page__contact form .input-group textarea:focus {
    background: var(--grey);
}

.page__contact form .input-group textarea {
    min-height: 150px;
}

.page__contact form .input-group .form-icon {
    position: absolute;
    right: 0;
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main);
    -webkit-clip-path: polygon(5px 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(5px 0, 100% 0, 100% 100%, 0 100%);
}


.page__contact form .send-button {
    position: relative;
    padding: 1.2rem 1.5rem;
    text-transform: uppercase;
    color: var(--light);
    background: var(--main);
    cursor: pointer;
    border: none;
    outline: none;
}

.page__contact form .send-button.sent {
    background: green;
}

.page__contact form .send-button:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: var(--overlay-background);
    transition: 0.2s;
}

.page__contact form .send-button:hover:after {
    height: 100%;
}

.page__contact form .send-button p {
    position: relative;
    z-index: 1;
}




.page__news {
    padding: 0 1rem;
}

.page__news .news-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    row-gap: 2rem;
}


/* ABOUT PAGE */
.page__aboutUs {
    padding: 0 1rem;
}

.page__aboutUs .aboutUs-content {
    font-weight: 200;
    color: var(--txt-light);
    font-size: 16px;
    line-height: var(--txt-space);
}


.page__aboutUs .aboutUs-employee .items {
    display: grid;
    gap: 2rem;
}

.page__aboutUs .aboutUs-employee .items .item {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.page__aboutUs .aboutUs-employee .items .item .aboutUs-image img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border: 8px solid var(--grey);
    object-position: top;
}

.page__aboutUs .aboutUs-employee .items .item .aboutUs-info h1 {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--grey-dark);
    margin-bottom: 10px;
}

.page__aboutUs .aboutUs-employee .items .item .aboutUs-info span {
    color: var(--main);
    font-weight: 200;
}

.page__aboutUs .aboutUs-employee .items .item .aboutUs-info p {
    font-weight: 200;
    color: var(--txt-light);
    font-size: 16px;
    line-height: var(--txt-space);
    margin-top: 16px;
}


/* ABOUT DETAILS */
.page__aboutDetails {
    padding: 0 1rem;
}

.page__aboutDetails table {
    width: 100%;
    padding: 1rem;
    border-collapse: collapse;
    border-spacing: 0;
}

table thead {
    text-align: left;
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

table thead tr th {
    font-style: italic;
    font-weight: 200;
    color: var(--light);
    background: var(--main);
}

table thead tr th:last-child {
    max-width: 120px;
    text-align: left;
}

table th {
    padding: .8rem 12px;
    border: 1px solid #ccc;
}

table tbody td,
table tbody tr {
    font-size: 14px;
    color: var(--txt-light);
    border: 1px solid #ccc;
    font-weight: 200;
}

table td,
table th {
    padding: .8rem 12px;
    border: 1px solid #ccc;
}

/* PAGE VACANCY */
.page__vacancy {
    padding: 0 1rem;
}

.page__vacancy .vacancy-content {
    font-weight: 200;
    color: var(--txt-light);
    font-size: 16px;
    line-height: var(--txt-space);
}

.page__vacancy .vacancy-content li {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 10px
}

.page__vacancy .vacancy-employee .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.page__vacancy .vacancy-employee .items .item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--grey);
    border-radius: var(--item-radius);
    transition: var(--trans);
    padding: 1.8rem;
}

.page__vacancy .vacancy-employee .items .item h1 {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--main);
}

.page__vacancy .vacancy-employee .items .item p {
    line-height: 2.2rem;
    font-weight: 200;
    color: var(--txt-light);
}
